@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    font-family: VT323, sans-serif;
    color: black;
    line-height: 1.5; /* sets the line height of a paragraph */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top left, #28a4b4, #6fc6d5);
}

header {
    font-size: 50px;
    font-weight: bold;
}

.container {
    height: 500px;
    width: 650px;
    /* border: solid 2px black; */
    display: flex;
    margin-top: 20px;
}

.side_bar {
    width: 150px;
    /* border: solid 2px blue; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.sketchbox {
    display: flex;
    flex: 1;
    background-color: rgb(230, 230, 230);
    box-shadow: 5px 5px 5px rgb(75, 75, 75);
    /* border: solid 2px red; */
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

a {
    text-decoration: underline;
    color: black;
}

button {
    font-family: VT323, sans-serif;
    font-size: 20px;
}